{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% if paymentMethod is not defined %}
    {% set paymentMethod = bitbag_payment_method_repository.findOneByGatewayFactoryNameAndChannel %}
{% endif %}

<div id="qp-container" class="qp-container">
    <div id="qp-descrip" class="qp-descrip">
        We support QuadPay
    </div>
    <div id="qp-quadpay" class="qp-quadpay">
        <span class="qp-quadpay__learn qp-quadpay--link">
            <script async src="https://widgets.quadpay.com/calculator/quadpay-widget-0.2.0.js?type=calculator&min=1&max=1500&amount={{ amount|sylius_format_money('USD', sylius.localeCode) }}" type="application/javascript"></script>
        </span>
    </div>
</div>
